/* 공통 포스터 그리드 스타일 */
.poster-grid {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 20px;
  background-color: transparent; /* 포스터 그리드 배경 색상 - 투명 */
  width: 100%;
}

.poster-slider {
  overflow: hidden;
}

/* 자동 슬라이드 - 기본 속성 */
.poster-grid::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

/* 포스터 카드 스타일 */
.poster-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 150px; /* 포스터 카드 최소 너비 */
}

.poster-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* 포스터 이미지 스타일 */
.poster-image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #444;
}

/* 포스터 콘텐츠 */
.poster-content {
  width: 100%;
  text-align: center;
  padding: 10px;
}

/* 포스터 제목 */
.poster-title {
  margin: 10px 0;
  font-size: 1rem;
  color: #fff;
}

/* 포스터 버튼 스타일 */
.poster-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.poster-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.2vw;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.poster-button.play {
  background-color: white;
  color: black;
}

.poster-button.info {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.poster-button.info:hover {
  background-color: rgb(74, 74, 74);
}

.poster-button:hover {
  color: #000;
  background-color: rgba(170, 170, 170, 0.9);
  transition: all 0.2s;
}

/* 슬라이더 자동 슬라이드 기능 */
@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.poster-grid {
  animation: autoScroll 20s linear infinite;
}

/* 반응형 미디어 쿼리 */
@media screen and (min-width: 1200px) {
  .poster-card {
    min-width: 200px; /* 더 큰 화면에서는 포스터 카드 크기를 늘림 */
  }
}

@media screen and (max-width: 768px) {
  .poster-card {
    min-width: 120px; /* 모바일 화면에서는 포스터 카드 크기를 줄임 */
  }
}
